.about-us-div{
    margin-top:88px;
    background-color:rgb(244, 149, 149);
    padding:9px;
    padding-bottom:19px;
    display:flex;
    flex-direction:column;
    align-items:center;
   }

   .contact-link-{
    background-color:white;
    display:flex;
    width:119px;
    padding-left:9px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:5px;
    margin-top:22px;
    }
    
