
.contact-us-div{
    background:linear-gradient(to bottom, #33ccff 0%, rgb(255, 255, 118) 100%);
    padding:9px;
    padding-bottom:19px;
    position:relative;
    z-index:12;  
    flex:1;
    margin-top:80px; 
   }

   .contact-us-logo-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    font-size:42px;
   }
   .contact-us-logo-{
    
    mix-blend-mode:multiply;
   }
@media screen and (max-width: 376px)
   {
       .header{
           padding-right:5px;
       }
       .logo{
           width:80px;
           margin-left:7px;
           margin-right:0px;
           margin-top:12px;
           padding:0px;
       }
       
       .header-btn-div{
           width:100%;
           font-size:10px;
       }
   
       .header-btn{
           padding-top:5px;
           padding-bottom:5px;
           padding-right:0px;
           padding-left:0px;
       }
   }
   
   
   @media screen and (min-width:393px) and (max-width:767px){
       
       .header{
           padding-right:5px;
           
       }
       .logo{
           width:80px;
           margin-left:7px;
           margin-right:0px;
           margin-top:12px;
           padding:0px;
       }
   
       .header-btn-div{
           width:100%;
           font-size:10px;
       }
       .header-btn{
           padding-top:5px;
           padding-bottom:5px;
           padding-right:0px;
           padding-left:0px;
       }
   }
   
