.flex-div{
    display:flex;
    flex-direction:column;
}
.contact-us-div{
    background-color:rgb(255, 255, 118);
    padding:9px;
    padding-bottom:19px;
    position:relative;
    z-index:12;  
    flex:1; 
   }

   .contact-us-logo{
    width:50px;
    mix-blend-mode:multiply;
    vertical-align:middle;

   }

   .twitter-logo{
    margin-right:98px;
    margin-left:98px;
    width:50px;
    mix-blend-mode:multiply;
    vertical-align:top;
    margin-bottom:22px;
   }

   .submit-btn:active{
    background-color:rgb(49, 179, 230);
   }

