.footer-div{
    background-color:rgb(213, 211, 211);
    display:flex;
    flex-direction:row;
    left:0px;
    right:0px;
    z-index:2;
    position:absolute;
  }

  .footer-div .title{
    margin-left:12px;
    margin-bottom:12px;
    font-family:Roboto,Arial;
    color:black;
  }
  .footer-div .logo{
    padding-top:22px;
    width:100px;
    margin-top:15px;
    margin-bottom:8px;
    margin-left:40px;
    margin-right:8px;
    
  }

.footer-div .icon1{
     width:50px;
     position:absolute;
      bottom:12px;
      right:103px;
      
     mix-blend-mode:multiply;
}  

.footer-div .icon2{
     width:50px;
     position:absolute;
     bottom:12px;
     right:163px;
     
     mix-blend-mode:multiply;
}  


.footer-div .icon3{
     width:50px;
     position:absolute;
     bottom:18px;
     right:43px;
     mix-blend-mode:multiply;
   
}  


.footer-div .icon4{
     width:50px;
     position:absolute;
     bottom:12px;
      right:223px;

}  


@media screen and (max-width: 376px) {
     .footer-div .icon2{
          right:0px;
     }
     .footer-div .icon3{
          right:53px;;
     }

}

  
@media screen and (min-width:393px) and (max-width:767px){
     .footer-div .icon2{
          right:0px;
     }
     .footer-div .icon3{
          right:53px;;
     }
    
   }
